<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="URDF_Bodies2.SLDASM">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="1.287E-17 -0.125 1.1123E-17"
        rpy="0 0 0" />
      <mass
        value="3.7513" />
      <inertia
        ixx="0.020361"
        ixy="0"
        ixz="0"
        iyy="0.027094"
        iyz="1.1459E-18"
        izz="0.045808" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Bodies2.SLDASM/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Bodies2.SLDASM/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="RW_Flap">
    <inertial>
      <origin
        xyz="0.032766 0.034001 -8.7011E-19"
        rpy="0 0 0" />
      <mass
        value="0.15563" />
      <inertia
        ixx="4.7427E-05"
        ixy="-3.1144E-05"
        ixz="-3.1293E-21"
        iyy="0.00016366"
        iyz="-6.839E-22"
        izz="0.00017996" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Bodies2.SLDASM/meshes/RW_Flap.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Bodies2.SLDASM/meshes/RW_Flap.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RW_J_Flap"
    type="revolute">
    <origin
      xyz="0.12329 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="RW_Flap" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="RW_Pitch">
    <inertial>
      <origin
        xyz="0.375 -0.050083 7.3865E-18"
        rpy="0 0 0" />
      <mass
        value="2.3629" />
      <inertia
        ixx="0.014446"
        ixy="6.0467E-18"
        ixz="4.4759E-19"
        iyy="0.111"
        iyz="7.9212E-19"
        izz="0.12497" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Bodies2.SLDASM/meshes/RW_Pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Bodies2.SLDASM/meshes/RW_Pitch.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="RW_J_Pitch"
    type="revolute">
    <origin
      xyz="0.09 0.04 0"
      rpy="0 0 0" />
    <parent
      link="RW_Flap" />
    <child
      link="RW_Pitch" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LW_Flap">
    <inertial>
      <origin
        xyz="0.032766 0.034001 -8.7011E-19"
        rpy="0 0 0" />
      <mass
        value="0.15563" />
      <inertia
        ixx="4.7427E-05"
        ixy="-3.1144E-05"
        ixz="-3.1293E-21"
        iyy="0.00016366"
        iyz="-6.839E-22"
        izz="0.00017996" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Bodies2.SLDASM/meshes/LW_Flap.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Bodies2.SLDASM/meshes/LW_Flap.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LW_J_Flap"
    type="revolute">
    <origin
      xyz="-0.12329 0 0"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="LW_Flap" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="LW_Pitch">
    <inertial>
      <origin
        xyz="-0.375 -0.050083 1.3712E-18"
        rpy="0 0 0" />
      <mass
        value="2.3629" />
      <inertia
        ixx="0.014446"
        ixy="6.0467E-18"
        ixz="4.4759E-19"
        iyy="0.111"
        iyz="-8.8618E-19"
        izz="0.12497" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Bodies2.SLDASM/meshes/LW_Pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://URDF_Bodies2.SLDASM/meshes/LW_Pitch.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="LW_J_Pitch"
    type="revolute">
    <origin
      xyz="-0.09 0.04 0"
      rpy="0 0 0" />
    <parent
      link="LW_Flap" />
    <child
      link="LW_Pitch" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>